QLAB_Q_BINARY=/home/aiyer/.kx/bin/q
QLAB_DOCKER_IMAGE=qlab-judge
QLAB_KC_LIC=~/.kx/kc.lic
QLAB_JUDGE_TIMEOUT=10
QLAB_NB_PORT=5001
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=qlab
PROBLEMS_DIR=/home/aiyer/qlab/problems
CLERK_SECRET_KEY=sk_test_your_key_here
CLERK_JWKS_URL=https://your-clerk-domain.clerk.accounts.dev/.well-known/jwks.json
CLERK_WEBHOOK_SECRET=whsec_your_signing_secret_here
